<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Gözüm Üzerinde Benden Kaçamazsın!</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/css/style_frontend.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/js/jquery.fancybox.min.js"/>
<link rel="stylesheet" type="text/css" href="static/css/owl.carousel.min.css"/>
<link rel="stylesheet" type="text/css" href="static/css/owl.theme.default.min.css"/>
<link rel="stylesheet" type="text/css" href="static/css/footer.css"/>
<link rel="stylesheet" type="text/css" href="static/css/testimonal.css"/>
<link rel="stylesheet" type="text/css" href="static/css/testimonal_two.css"/>


<!--<link rel="stylesheet" type="text/css" href="static/css/bootstrap_about.css"/>-->
<link rel="stylesheet" type="text/css" href="static/css/style_about.css"/>

<!-- Font Google -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<!-- Navbar -->

<nav class="navbar navbar-expand-lg" >
  <div class="container"> <a class="" href="admin/login/?next=/admin/"> <img style="width: 100px;height: 100px;" src="static/img/LOGO.png" alt="logo" class="logo-1"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="fas fa-bars"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul style="color: red;" class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link" href="/" >Anasayfa</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/about" >Hakkımızda</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/gallery" >Galeri</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/communication" >İletişim</a></li>
        {% if user.is_authenticated%}
        <li class="nav-item"> <a class="nav-link" href="/camera" >Kamera Kayıtları</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/plate" >Plaka</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/statistics" >İstatistik</a> </li>
         <li class="nav-item"> <a class="nav-link" href="#" >Hoşgeldin, {{user.username}}</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}">Oturumu Kapat</a></li>
       
        {% else %}

        <li class="nav-item"> <a class="nav-link" href="/login" >Oturum Aç</a></li>
        {%endif%}
        <!--<div class="nav-item ">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
          <div class="dropdown-menu fade-up m-0">
              <a style="color:black;" href="feature.html" class="nav-link">Feature</a>
              <a style="color:black;" href="quote.html" class="dropdown-item">Free Quote</a>
              <a href="team.html" class="dropdown-item">Our Team</a>
              <a href="testimonial.html" class="dropdown-item">Testimonial</a>
              <a href="404.html" class="dropdown-item">404 Page</a>
          </div>
      </div>--> 
      </ul>
  </div>
  
</div>
</nav>
<!-- End Navbar --> 
